<mat-card>
    <mat-card-title style="padding-left: 25px;padding-top: 15px;">
      Fornecedores:&nbsp;<span style="color:chocolate;padding-right: 63%;">{{ status }}</span>
      <button mat-raised-button (click)="onNewFornecedorClick()" [disabled]="showFormFornecedor">
        Incluir Fornecedor
      </button>
    </mat-card-title>
    <br>
  <mat-divider/>
  <loading-bar [visible]="showLoadingBar"></loading-bar>
  @if(showFormFornecedor) {
    <fornecedor-form (save)="onSave($event)" [fornecedor]="fornecedor" (back)="hideFormFornecedor()" ></fornecedor-form>
  }
  <mat-card-content>
    <table mat-table class="full-width-table" matSort aria-label="Elementos">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome do Fornecedor</th>
        <td mat-cell *matCellDef="let row">{{ row.companyName }}</td>
      </ng-container>

      <ng-container matColumnDef="contactName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Contato</th>
        <td mat-cell *matCellDef="let row">{{ row.contactName }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let row">
          <button mat-button (click)="onEditFornecedorClick(row)">
            <mat-icon matSuffix>edit</mat-icon>
          </button>
          <button mat-raised-button (click)="openModal(row)" >
            <mat-icon matSuffix>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="7"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Selecione a página"
    >
    </mat-paginator>
  </mat-card-content>
</mat-card>
