<mat-card-content>
  <form [formGroup]="categoriaForm" (ngSubmit)="onSubmit()" #form="ngForm" novalidate>
    <div class="container">
      <mat-form-field appearance="outline" class="item-30">
        <mat-label>Nome da categoria</mat-label>
        <input matInput formControlName="name"/>
        <mat-icon matSuffix>edit</mat-icon>
        @if (categoriaForm.controls['name'].hasError('required')) {
          <mat-error>Nome é obrigatório!</mat-error> 
        }
        @if (categoriaForm.controls['name'].hasError('minlength')) {
          <mat-error>Nome muito pequeno!</mat-error> 
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="item-70">
        <mat-label>Descrição da categoria</mat-label>
        <input matInput formControlName="description"/>
        <mat-icon matSuffix>edit</mat-icon>
        @if (categoriaForm.controls['description'].hasError('required')) {
            <mat-error><strong>Descrição é obrigatório</strong></mat-error>
        }
      </mat-form-field>
    </div>
    <div class="container">
      <button mat-raised-button color="warn" (click)="onBack()">
        <mat-icon>cancel</mat-icon>
        Fechar
      </button>
      <button mat-raised-button color="accent" type="submit" [disabled]="!categoriaForm.valid">
        <mat-icon>save</mat-icon>
        Salvar
      </button>
    </div>
  </form>
</mat-card-content>
